version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: gamification
      MYSQL_USER: user
      MYSQL_PASSWORD: 123456
#    ports:
#      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "123456"]
    networks:
      - backend

  eureka-service:
    build:
      context: ./eureka
      dockerfile: Dockerfile
    container_name: eureka-service
    ports:
      - "8761:8761"
    networks:
      - backend

  gamification-service:
    build:
      context: ./gamification-service
      dockerfile: Dockerfile
    container_name: gamification-service
    depends_on:
      - mysql
      - eureka-service
      - redis
    ports:
      - "8203:8203"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/gamification
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: 123456
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  mysql_data:
  redis-data: